#panel{
  padding: 20px;
}
#start{
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  background-color: aliceblue;
}
#stop{
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  background-color: aliceblue;
}
#reset{
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  background-color: aliceblue;
}